/* DIV COM NOMES DAS DEVELOPERS */
.banner {
  justify-content: center;
  display: inline-block;
  backdrop-filter: blur(5px);
  text-align: center;
  margin-top: 12vw;
  width: 100%;
  padding-bottom: 3vw;
  height: 100%;
}
.nomes-devs {
  margin-top: 5vw;
  margin-bottom: 3vw;
  color: rgba(245, 245, 245, 0.564);
  letter-spacing: 1px;
  font-size: 2vw;
}
.imagem-contato {
  display: inline-block;
  border-radius: 100px;
  width: 6vw;
  text-align: center;
}

.name,
.nameStyle {
  color: #00ff88;
  text-decoration: none;
}
